__pycache__/
*.py[cod]
*.log
.env
.venv/
.envrc
.DS_Store
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
dist/
build/
.eggs/
*.egg-info/
coverage/
htmlcov/
node_modules/
playground/.tmp/
data/
note.html
